.title {
    font-size: 1.5rem;
    padding: 0;
  }

  li {
    cursor: pointer;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #ffffffcf;
    min-width: max-content;
  }

  @media (min-width: 665px) {

    .navbar li {
      margin: auto 2px;
    }
    .navbar li:nth-last-of-type(3){
      margin-right: 5vw;
    }
  }