/* You can add global styles to this file, and also import other style files */

.title {
    display: inline;

    .main-title {
        font-size: 2.7rem;
        font-weight: 450;
    }
}

.grid-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

//color variables
$dark:#111111;
$dark-blue: #203541;
$secondary: #e5e5e56b;
$turkey-blue: #249eacd4;
$turkey-light-blue: #6fd4da;
$turkey-light-blue-extra: #81d8e2d4;

//Bootstrap theme override
$theme-colors: (
    "dark": $dark,
    "dark-blue": $dark-blue,
    "secondary": $secondary,
    "turkey-blue": $turkey-blue,
    "turkey-light-blue": $turkey-light-blue,
    "turkey-light-blue-extra": $turkey-light-blue-extra
);
@import "node_modules/bootstrap/scss/bootstrap";